# As of release 2014.7.0, the grains.filter_by interface in salt-ssh
# does not support 'default' and 'base' keyword parameters, change the
# 'grain' keyword parameter's value accordingly if this has been fixed.

{% set pkg = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ceph',],
        'manage_repo': True,
        'repos': [
            {'name': 'deb http://ceph.com/debian-giant ' + salt['grains.get']('oscodename') + ' main',
             'humanname': 'ceph',
             'dist': salt['grains.get']('oscodename'),
             'file': '/etc/apt/sources.list.d/ceph.list',
             'key_url': 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc',
            },
        ],
    },
    'Deepin': {
        'pkgs': ['ceph',],
        'manage_repo': True,
        'repos': [
            {'name': 'deb http://ceph.com/debian-giant ' + salt['grains.get']('oscodename') + ' main',
             'humanname': 'ceph',
             'dist': salt['grains.get']('oscodename'),
             'file': '/etc/apt/sources.list.d/ceph.list',
             'key_url': 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc',
            },
        ],
    },
    'RedHat': {
        'pkgs': ['ceph',],
        'manage_repo': True,
        'repos': [
            {'name': 'ceph',
             'humanname': 'ceph',
             'baseurl': 'http://ceph.com/rpm-giant/el' + salt['grains.get']('osmajorrelease', ['6'])[0] + '/$basearch',
             'gpgcheck': '1',
             'gpgkey': 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc',
            },
            {'name': 'base',
             'humanname': 'base',
             'baseurl': 'http://mirrors.sohu.com/centos/{{ salt['grains.get']('osmajorrelease', ['6'])[0] }}/os/$basearch'
             'gpgcheck': '1',
             'gpgkey': 'http://mirrors.sohu.com/centos/RPM-GPG-KEY-CentOS-{{ salt['grains.get']('osmajorrelease', ['6'])[0] }}'
            },
            {'name': 'epel',
             'humanname': 'epel',
             'baseurl': 'http://mirrors.sohu.com/fedora-epel/' + salt['grains.get']('osmajorrelease', ['6'])[0] + '/$basearch',
             'gpgcheck': '1',
             'gpgkey': 'http://mirrors.sohu.com/fedora-epel/RPM-GPG-KEY-EPEL-' + salt['grains.get']('osmajorrelease', ['6'])[0],
            },
        ],
    },
}, grain = 'os_family', merge = salt['pillar.get']('ceph:pkg')) %}

{% set conf = salt['grains.filter_by']({
    'Linux': {
        'cluster': 'ceph',
        'mon_key': 'AQATGHJTUCBqIBAA7M2yafV1xctn1pgr3GcKPg==',
        'admin_key': 'AQBMGHJTkC8HKhAAJ7NH255wYypgm1oVuV41MA==',
        'bootstrap_osd_key': 'AQARG3JTsDDEHhAAVinHPiqvJkUi5Mww/URupw==',
        'bootstrap_mds_key': 'AQCztJdSyNb0NBAASA2yPZPuwXeIQnDJ9O8gVw==',

        'global': {
            'fsid': '08a80810-eff9-4982-8cf3-37aded9e1802',
            'authentication_type': 'cephx',
            'public_network': '10.118.4.0/24',
            'cluster_network': '10.118.4.0/24',
            'mon_initial_members': 'hust,',
            'mon_host': 'hust:6789,',
        },
    },
}, grain = 'kernel', merge = salt['pillar.get']('ceph:conf')) %}

{% set mon = salt['grains.filter_by']({
    'Linux': {'mon_id': salt['grains.get']('host'),},
}, grain = 'kernel', merge = salt['pillar.get']('ceph:mon')) %}

{% set osd = salt['grains.filter_by']({
    'Linux': {
        'osds': [
            {'data': '/ceph-xxx',},
            {'data': '/ceph-yyy', 'jounal': '/tmp/ceph-yyy-jounal'},
        ],
    },
}, grain = 'kernel', merge = salt['pillar.get']('ceph:osd')) %}
