# As of release 2014.7.0, the grains.filter_by interface in salt-ssh
# does not support 'default' and 'base' keyword parameters, so do not
# use this formula under salt-ssh unless you change the code accordingly.

{% set ceph = {
    'cluster': 'ceph',
    'mon_key': 'AQATGHJTUCBqIBAA7M2yafV1xctn1pgr3GcKPg==',
    'admin_key': 'AQBMGHJTkC8HKhAAJ7NH255wYypgm1oVuV41MA==',
    'bootstrap_osd_key': 'AQARG3JTsDDEHhAAVinHPiqvJkUi5Mww/URupw==',
    'bootstrap_mds_key': 'AQCztJdSyNb0NBAASA2yPZPuwXeIQnDJ9O8gVw==',
    'repo': {},
    'pkg': {},
    'conf': {},
    'mon': {},
    'osd': {}
} %}

{% if grains['os_family'] in ['Debian',] %}
{% do ceph.update({
    'repo': {
        'manage_repo': 1,
        'repos': [
            {'name': 'deb http://ceph.com/debian-giant ' + grains['oscodename'] + ' main',
             'humanname': 'ceph',
             'dist': grains['oscodename'],
             'file': '/etc/apt/sources.list.d/ceph.list',
             'key_url': 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc',
            },
        ],
    },
}) %}
{% do ceph.update({
    'pkg': {
        'pkgs': {'ceph': '0.87-1' + grains['oscodename'],},
    }
}) %}
{% elif grains['os_family'] in ['RedHat'] %}
{% do ceph.update({
    'repo': {
        'manage_repo': 1,
        'repos': [
            {'name': 'ceph',
             'humanname': 'ceph',
             'baseurl': 'http://ceph.com/rpm-giant/el' + grains['osmajorrelease'] + '/$basearch',
             'gpgcheck': '1',
             'gpgkey': 'https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc',
            },
        ],
    }
}) %}
{% do ceph.update({
    'pkg': {
        'pkgs': {'ceph': '0.87-0.el' + grains['osmajorrelease'],},
    }
}) %}
{% endif %}

{% do ceph.update({
    'conf': {
        'global': {
            'fsid': '850007de-f635-46e4-b490-ac7128c784e6',
            'auth_type': 'cephx',
            'mon_initial_members': grains['id'],
        },
        'mon': {
        },
        'osd': {
        },
        'mons': [
            {'id': grains['id'], 'addr': grains['ipv4'][0] + ':6789'},
        ],
    },
    'osd': {
        'osds': [
            {'data': '/ceph-d1', 'journal': '/tmp/ceph-jounal-d1'},
            {'data': '/ceph-d2',},
        ],
    }
}) %}

{% do salt['grains.filter_by'](
    {'default': ceph},
    merge = salt['pillar.get']('ceph', {})
) %}
