{% set bootstrap = {
    'salt': {},
    'repo': {},
    'ntp': {},
} %}


### bootstrap.salt

{% do bootstrap.salt.update({
    'minion': {
        'pkgs': {},
        'master_ip': '10.118.4.36',
    },
}) %}

{% if grains['os_family'] in ['Debian',] %}
{% do bootstrap.salt.minion.pkgs.update({
    'salt-minion': '2014.7.1+ds-1' + grains['oscodename'] + '1',
}) %}
{% elif grains['os_family'] in ['RedHat'] %}
{% do bootstrap.salt.minion.pkgs.update({
    'salt-minion': '2014.7.0-3.el' + grains['osmajorrelease'],
}) %}
{% endif %}


### bootstrap.repo

{% if grains['os_family'] in ['Debian',] %}
{% do bootstrap.repo.update({
    'cleanup': 0,
    'repos': [
        {'name': 'deb http://mirrors.ustc.edu.cn/ubuntu ' + grains['oscodename'] + ' main restricted universe multiverse',
         'humanname': 'base',
         'dist': grains['oscodename'],
         'file': '/etc/apt/sources.list',
        },
        {'name': 'deb http://mirrors.ustc.edu.cn/ubuntu ' + grains['oscodename'] + '-updates main restricted universe multiverse',
         'humanname': 'updates',
         'dist': grains['oscodename'] + '-updates',
         'file': '/etc/apt/sources.list',
        },
        {'name': 'deb http://mirrors.ustc.edu.cn/ubuntu ' + grains['oscodename'] + '-security main restricted universe multiverse',
         'humanname': 'security',
         'dist': grains['oscodename'] + '-security',
         'file': '/etc/apt/sources.list',
        },
        {'name': 'salt',
         'humanname': 'salt',
         'dist': grains['oscodename'],
         'file': '/etc/apt/sources.list.d/saltstack-salt.list',
         'ppa': 'saltstack/salt',
        },
    ],
}) %}
{% elif grains['os_family'] in ['RedHat'] %}
{% do bootstrap.repo.update({
    'cleanup': 0,
    'repos': [
        {'name': 'base',
         'humanname': 'base',
         'baseurl': 'http://mirrors.ustc.edu.cn/centos/' + grains['osmajorrelease'] + '/os/$basearch',
         'gpgcheck': '1',
         'gpgkey': 'http://mirrors.ustc.edu.cn/centos/RPM-GPG-KEY-CentOS-' + grains['osmajorrelease'],
        },
        {'name': 'extras',
         'humanname': 'extras',
         'baseurl': 'http://mirrors.ustc.edu.cn/centos/' + grains['osmajorrelease'] + '/extras/$basearch',
         'gpgcheck': '1',
         'gpgkey': 'http://mirrors.ustc.edu.cn/centos/RPM-GPG-KEY-CentOS-' + grains['osmajorrelease'],
        },
        {'name': 'epel',
         'humanname': 'epel',
         'baseurl': 'http://mirrors.ustc.edu.cn/epel/' + grains['osmajorrelease'] + '/$basearch',
         'gpgcheck': '1',
         'gpgkey': 'http://mirrors.ustc.edu.cn/epel/RPM-GPG-KEY-EPEL-' + grains['osmajorrelease'],
        },
    ],
}) %}
{% endif %}


### bootstrap.ntp

{% if grains['os_family'] in ['Debian',] %}
{% do bootstrap.ntp.update({
    'pkg': 'ntp',
    'svc': 'ntp',
    'cfile': '/etc/ntp.conf',
    'srvs': [grains['ipv4'][0],],
}) %}
{% elif grains['os_family'] in ['RedHat'] %}
{% do bootstrap.ntp.update({
    'pkg': 'ntp',
    'svc': 'ntpd',
    'cfile': '/etc/ntp.conf',
    'srvs': [grains['ipv4'][0],],
}) %}
{% endif %}


### merge with pillar

# As of release 2014.7.0, the grains.filter_by interface in salt-ssh
# does not support 'default' and 'base' keyword parameters, if it does
# change the code accordingly.
{% if 0 %}
{% do salt['grains.filter_by'](
    {'default': bootstrap},
    merge = salt['pillar.get']('ceph:bootstrap', {})
) %}
{% else %}
{% do bootstrap.update(salt['pillar.get']('ceph:bootstrap', {})) %}
{% endif %}
